.container {
    display: flex;
    background-color: #1e293b;
    
  }

  .center {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  
  .content {
    margin-left: 100px;
    padding: 1em;
    overflow-y: auto;
    height: 100vh;
    overflow-y: visible;
  }
  
  .section {
    margin-bottom: 1em;
  }

  .hr {
    background-color: rgb(255, 255, 255);
    height: 2px;
    border: none;
  }

  .follow {
    display: block;
    
    width: 100%;
    background: #0070f3;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5em 1em;  
  }

  .follow:hover {
    background: #0056b3;
  }