.outerDiv { 
    display: grid;
    grid-template-columns: 360px 360px 360px;
    grid-auto-rows: 200px;
    grid-gap: 0.3rem;
}

.userPostImage {
    width: 360px;
    height: 200px;
    object-fit: cover;   
}

.parent {
    position: relative;
}